<div class="left">
  <div class="counter">
    <button class="plus" (click)="addScore(comment.id, false, replyItem.id)">
      +
    </button>
    <p class="num">{{ replyItem.score }}</p>
    <button
      class="minus"
      (click)="reduceScore(comment.id, false, replyItem.id)"
    >
      -
    </button>
  </div>
</div>
<div class="aside">
  <div class="identity">
    <img [src]="'../../assets' + replyItem.user.image.png" class="image" />
    <h4 class="name">{{ replyItem.user.username }}</h4>
    <h4 class="you" *ngIf="replyItem.user.username === currentUser.username">
      you
    </h4>
    <h4 class="time">{{ replyItem.createdAt }}</h4>
    <div
      class="delete"
      *ngIf="replyItem.user.username === currentUser.username"
      (click)="delete(replyItem.id, false)"
    >
      <img src="../assets/images/icon-delete.svg" class="delete_icon" />
      <h4 class="delete-text">delete</h4>
    </div>
    <div
      class="edit"
      *ngIf="replyItem.user.username === currentUser.username"
      (click)="editButton(replyItem.id, false)"
    >
      <img src="../assets/images/icon-edit.svg" class="edit_icon" />
      <h4 class="edit_text">edit</h4>
    </div>
    <div
      class="reply"
      *ngIf="replyItem.user.username !== currentUser.username"
      (click)="reply(replyItem.id)"
    >
      <img src="../assets/images/icon-reply.svg" class="reply_icon" />
      <h4 class="reply_text">reply</h4>
    </div>
  </div>
  <div class="text">{{ replyItem.content }}</div>
</div>

<div class="comment write-comment" *ngIf="idNumber == replyItem.id && sent">
  <img [src]="'../../assets' + currentUser.image.png" class="image comm_img" />
  <textarea class="write" autosize [(ngModel)]="text"></textarea>
  <button class="btn btn-send" (click)="addReplyComment(comment.id, true)">
    Send
  </button>
</div>
<!-- edit comment -->
<div *ngIf="upgReplyShow">
  <div class="comment my-comment">
    <div class="left">
      <div class="counter">
        <button class="plus">+</button>
        <p class="num">{{ upgradeScore }}</p>
        <button class="minus">-</button>
      </div>
    </div>
    <div class="aside">
      <div class="identity">
        <img [src]="'../../assets' + currentUser.image.png" class="image" />
        <h4 class="name">{{ currentUser.username }}</h4>
        <h4 class="you">you</h4>
        <h4 class="time">now</h4>
        <div class="delete">
          <img src="../assets/images/icon-delete.svg" class="delete_icon" />
          <h4 class="delete-text">delete</h4>
        </div>
        <div class="edit">
          <img src="../assets/images/icon-edit.svg" class="edit_icon" />
          <h4 class="edit_text">edit</h4>
        </div>
      </div>
      <textarea class="edit_com text">{{ upgradeText }}</textarea>
      <button class="btn upg_btn">Upgrade</button>
    </div>
  </div>
</div>
